<script>
import EventBus from './event-bus.js'
import {ventilatorService} from '../_services'

export default {
  components: {
    EventBus,
    ventilatorService
  },
  data () {
    return {
      errors: [],
      title: 'Novy ventilator',
      submitted: false,
      form: {
        title: '',
        id: 0,
        minimum: 0.0,
        maximum: 0.0,
        polynomial: {
          a: 0,
          b: 0,
          c: 0,
          d: 0
        },
        errors: {
          polynomial: {
            a: false,
            b: false,
            c: false,
            d: false
          }
        }
      }
    }
  },
  computed: {
    loggingIn () {
      return this.$store.state.authentication.status.loggingIn
    }
  },
  created () {
    // reset login status
    // this.$store.dispatch('authentication/logout')
  },
  methods: {
    handleSubmit (e) {
      this.submitted = true
    },
    close () {
      this.$emit('close')
    },
    fillForm: function (ventilator) {
      this.title = 'Editace ventilatoru'
      this.form.title = ventilator.getName()
      this.form.id = ventilator.getId()
      this.form.minimum = ventilator.getMinimum()
      this.form.maximum = ventilator.getMaximum()
      let calcstring = ventilator.getCalculateString()
      this.form.polynomial.a = calcstring.a
      this.form.polynomial.b = calcstring.b
      this.form.polynomial.c = calcstring.c
      this.form.polynomial.d = calcstring.d
    },
    checkForm: function (e) {
      this.errors = []
      this.form.errors.title = false
      this.form.errors.polynomial.a = false
      this.form.errors.polynomial.b = false
      this.form.errors.polynomial.c = false
      this.form.errors.polynomial.d = false
      if (!this.form.title) {
        this.errors.push('Name required.')
        this.form.errors.title = true
      }
      if (this.form.polynomial.a === 0) {
        this.errors.push('Polynom part A cannot be zero.')
        this.form.errors.polynomial.a = true
      }
      if (this.form.polynomial.b === 0) {
        this.errors.push('Polynom part B cannot be zero.')
        this.form.errors.polynomial.b = true
      }
      if (this.form.polynomial.c === 0) {
        this.errors.push('Polynom part Ccannot be zero.')
        this.form.errors.polynomial.c = true
      }
      if (this.form.polynomial.d === 0) {
        this.errors.push('Polynom part D cannot be zero.')
        this.form.errors.polynomial.d = true
      }
      if (this.errors.length > 0) {

      } else {
        let ventilator = {
          name: this.form.title,
          id: this.form.id,
          minimum: this.form.minimum,
          maximum: this.form.maximum,
          a: this.form.polynomial.a,
          b: this.form.polynomial.b,
          c: this.form.polynomial.c,
          d: this.form.polynomial.d,
          step: 0.005
        }
        let resp = false

        if (this.form.id > 0) {
          resp = ventilatorService.update(ventilator)
            .then(
              ventilator => function () {
                this.$emit('close')
              },
              // eslint-disable-next-line handle-callback-err
              error => function () {
                this.errors.push('chyba pri ukladani ventilatoru.')
              }
            )
        } else {
          resp = ventilatorService.save(ventilator)
            .then(
              ventilator => function () {
                this.$emit('close')
              },
              // eslint-disable-next-line handle-callback-err
              error => function () {
                this.errors.push('chyba pri ukladani ventilatoru.')
              }
            )
        }

        setTimeout(function () {
          EventBus.$emit('RELOADVENTILATORS', resp)
        }, 100)
        this.title = 'Novy ventilator'
        this.$emit('close')
      }
      e.preventDefault()
    }
  }
}
</script>

<template>
  <transition name="modal">
    <div class="modal-mask" >
      <form @submit="checkForm" >
      <div class="modal-container"  style="width: 90%;font-size: 12px;">
        <div class="modal-header">
          <h3>{{ title }}</h3>
          <button type="button" class="btn-close" @click="close" aria-label="Close modal" > x </button>
        </div>
        <div class="modal-body">
          <div v-if="errors.length">
            <b>Please correct the following error(s):</b>
            <ul>
              <li v-for="error in errors" v-bind:key="error" >
                {{ error }}
              </li>
            </ul>
          </div>
          <div class="form-group">
              <label for="nameVentilator">Nazev</label>
              <input name="name" id="nameVentilator" class="form-control"  v-bind:class="{ 'is-invalid' : form.errors.title}" v-model="form.title" type="text" placeholder="Full nazev">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <label for="minimum">Minimum</label>
                  <input id="minimum" class="form-control" type="number" v-model="form.minimum" step=".1"/>
                </div>
                <div class="col-6">
                  <label for="maximum">Maximum</label>
                  <input id="maximum" class="form-control" type="number" v-model="form.maximum" step=".1"/>
                </div>
              </div>
            </div>
            <div class="form-group calculateString" >
              <h4>calculate string</h4>
              <table>
                <tr>
                  <td>
                    <input id="calculateStringA" type="text" class="form-control form-control-sm" v-bind:class="{ 'is-invalid' : form.errors.polynomial.a}" v-model="form.polynomial.a"/>
                  </td>
                  <td><label for="calculateStringA">x<sup>3</sup> +</label></td>
                  <td><input id="calculateStringB" type="text" class="form-control form-control-sm" v-bind:class="{ 'is-invalid' : form.errors.polynomial.b}" v-model="form.polynomial.b"/></td>
                  <td><label for="calculateStringB">x<sup>2</sup> +</label></td>
                  <td><input id="calculateStringC" type="text" class="form-control form-control-sm" v-bind:class="{ 'is-invalid' : form.errors.polynomial.c}" v-model="form.polynomial.c"/></td>
                  <td><label for="calculateStringC">x +</label></td>
                  <td><input id="calculateStringD" type="text" class="form-control form-control-sm" v-bind:class="{ 'is-invalid' : form.errors.polynomial.d}" v-model="form.polynomial.d"/></td>
                </tr>
              </table>
            </div>
            <div class="form-group">
              <input  type="submit" class="btn btn-primary" />
            </div>
        </div>
        <div class="modal-footer text-right">
          <input type="submit" class="modal-default-button" value="Vytvořit" />
        </div>
      </div>
      </form>
    </div>
  </transition>
</template>
<style scoped>
  .modal-backdrop {
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal {
    top: 5% !important;
    bottom: 5% !important;
    left: 5% !important;
    width: 90% !important;
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto !important;
    display: flex !important;
    flex-direction: column;
  }
  .modal-header,
  .modal-footer {
    padding: 5px 15px;
    display: flex;
  }
  .modal-header {
    border-bottom: 1px solid #EEEEEE;
    color: #4AAE9B;
    justify-content: space-between;
  }
  .modal-footer {
    border-top: 1px solid #EEEEEE;
    justify-content: flex-end;
  }
  .modal-body {
    position: relative;
    padding: 10px 10px;
    overflow-y: scroll;
  }
  .btn-close {
    border: none;
    font-size: 20px;
    /*padding: 20px;*/
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
  }
  .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }
  div.calculateString input {
    width: 5em;
  }
</style>
