<script>
import {VueMathjax} from 'vue-mathjax'
import EventBus from './event-bus.js'

export default {
  components: {
    'vue-mathjax': VueMathjax,
    EventBus
  },
  data () {
    return {
      title: 'Doly',
      isModalVisible: false,
      isAddVentoilatorFormVisible: false,
      formula: '$$x = {-b \\pm \\sqrt{b^2-4ac} \\over 2a}.$$',
      msg: 'Welcome to Your Vue.js App',
      submitted: false,
      // delka: 0.00,
      delkaLutnovehoTahu: 40.0,
      prurez: 44.2,
      maxPrurez: 44.2,
      exhalationCh4: 0.03,
      exhalationC02: 0.023,
      koncentracech4: 0.00,
      koncentraceco2: 0.00,
      koncentracecRn: 0.00,
      exhalationRn: 0.00,
      hmotnostTrhaviny: 0.00,
      casKeSnizeniKoncentrace: 0.00,
      objemjedovatychsplodintrhaviny: 0.00,
      vykonMotoru: 0.00,
      mernahmotnosthornin: 0.00,
      delkazabirkytrhaciprace: 0.00,
      pripustnakoncentracech4: 0.49,
      pripustnakoncentraceco2: 1.00,
      pripustnakoncentracecRn: 1.00,
      pripustnakoncentraceco2Trhaci: 0.00,
      vzdalenostUstiLutnyOdCelby: 10.00,
      prumerprojektovanychluten: 0.80,
      nejmensiRychlostDulnichVetru: 0.15,
      koeficientPoruseniRadioaktivniRovnovahy: 0.2,
      qv0: 0.00,
      qv1: 0.00,
      qv2: 0.00,
      qv3: 0.00,
      qv4: 0.00,
      qv5: 0.00,
      qv6: 0.00,
      qv1computing: false,
      qv2computing: false,
      qv3computing: false,
      qv4computing: false,
      qv5computing: false,
      qv6computing: false
    }
  },
  watch: {
    qv1computing: 'qv1compute',
    qv2computing: 'qv2compute',
    qv3computing: 'qv3compute',
    qv4computing: 'qv4compute',
    qv5computing: 'qv5compute',
    qv6computing: 'qv6compute'
  },
  methods: {
    qv1compute (e) {
      this.qv1computing = e
      // this.recomputeQv0()
    },
    qv2compute (e) {
      this.qv2computing = e
      // this.recomputeQv0()
    },
    qv3compute (e) {
      this.qv3computing = e
      // this.recomputeQv0()
    },
    qv4compute (e) {
      this.qv4computing = e
      // this.recomputeQv0()
    },
    qv5compute (e) {
      this.qv5computing = e
      // this.recomputeQv0()
    },
    qv6compute (e) {
      this.qv6computing = e
      // this.recomputeQv0()
    },
    recomputeQv0 () {
      const {mernahmotnosthornin, delkazabirkytrhaciprace, prurez, objemjedovatychsplodintrhaviny, maxPrurez, exhalationCh4, pripustnakoncentracech4, pripustnakoncentraceco2Trhaci, casKeSnizeniKoncentrace, koncentracech4, hmotnostTrhaviny, exhalationC02, koncentracecRn, pripustnakoncentraceco2, koncentraceco2, vykonMotoru, koeficientPoruseniRadioaktivniRovnovahy, exhalationRn, pripustnakoncentracecRn} = this
      if (this.qv1computing === true) {
        if (pripustnakoncentracech4 && exhalationCh4 && koncentracech4) {
          this.qv1 = ((100 * exhalationCh4) / (pripustnakoncentracech4 - koncentracech4)).toFixed(2)
        }
      }
      if (this.qv2computing === true) {
        if (exhalationC02 && pripustnakoncentraceco2 && koncentraceco2) {
          this.qv2 = ((100 * exhalationC02) / (pripustnakoncentraceco2 - koncentraceco2)).toFixed(2)
        }
      }
      if (this.qv3computing === true) {
        if (hmotnostTrhaviny && pripustnakoncentraceco2 && casKeSnizeniKoncentrace) {
          let a1 = 5.09 * hmotnostTrhaviny
          let a2 = pripustnakoncentraceco2Trhaci * casKeSnizeniKoncentrace
          let a = a1 / a2
          let b1 = 1000 * objemjedovatychsplodintrhaviny * Math.sqrt(prurez)
          let b2 = mernahmotnosthornin * delkazabirkytrhaciprace
          this.qv3 = (a * Math.sqrt(b1 / b2)).toFixed(2)
        }
      }
      if (this.qv4computing === true) {
        if (maxPrurez && pripustnakoncentracech4) {
          let coef = 0.5
          if (pripustnakoncentracech4 === 0.5) {
            coef = 0.3
          } else if (pripustnakoncentracech4 < 0.5) {
            coef = 0.15
          }
          this.qv4 = (coef * maxPrurez).toFixed(2)
        }
      }
      if (this.qv5computing === true) {
        this.qv5 = (0.065 + 0.069 * pripustnakoncentracech4) * vykonMotoru
      }
      if (this.qv6computing === true) {
        this.qv6 = (koeficientPoruseniRadioaktivniRovnovahy * exhalationRn) / (1000 * pripustnakoncentracecRn - koncentracecRn)
      }
      this.qv0 = Math.max(this.qv1, this.qv2, this.qv3, this.qv4, this.qv5, this.qv6)
      EventBus.$emit('GETVALUE', this.qv0)
    },
    handleComputing (e) {
      this.submitted = true
      const {delkaLutnovehoTahu, prurez, maxPrurez, exhalationCh4} = this
      if (delkaLutnovehoTahu && prurez && maxPrurez && exhalationCh4) {
        this.recomputeQv0()
      }
    },
    close () {
      this.$emit('close')
    }
  }
}
</script>
<template>
  <transition name="modal">
    <div class="modal" style="display: block">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <slot name="header">
              <h2>{{ title }} DOLY WOLE</h2>
              <button
                type="button"
                class="btn-close"
                @click="close"
                aria-label="Close modal"
              >
                x
              </button>
            </slot>
          </div>
          <div class="modal-body">
            <slot name="body">
                <div class="row">
                  <div class="col-12">
                    <table>
                      <thead>
                      <tr>
                        <td style="width: 10px;">&nbsp;</td>
                        <td style="width: 600px;">&nbsp;</td>
                        <td class="col-1">&nbsp;</td>
                        <td class="col-1">&nbsp;</td>
                        <td style="width: 100px;">&nbsp;
                        </td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>1.1</td>
                        <td>Projektovanou délku důlního díla</td>
                        <td>L</td>
                        <td>[m]</td>
                        <td>
                          <input type="number" v-model="delkaLutnovehoTahu" id="delka" name="delka"
                                 class="form-control input-sm"
                                 :class="{ 'is-invalid': submitted && !delkaLutnovehoTahu }"/>
                          <div v-show="submitted && !delkaLutnovehoTahu" class="invalid-feedback">
                            Delka je pozadovana
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.2</td>
                        <td>Světlý průřez projektovaného důlního díla</td>
                        <td>S</td>
                        <td>
                          [
                          <math xmlns="http://www.w3.org/1998/Math/MathML">
                            <mrow>
                              <msup>
                                <mi>m</mi>
                                <mn>2</mn>
                              </msup>
                            </mrow>
                          </math>
                          ]
                        </td>
                        <td>
                          <input type="number" step=".01" v-model="prurez" id="prurez" name="prurez"
                                 class="form-control input-sm"
                                 :class="{ 'is-invalid': submitted && !prurez }"/>
                          <div v-show="submitted && !prurez" class="invalid-feedback">Prurez je
                            pozadovan
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.3</td>
                        <td>Maximální průřez projektovaného důlního díla, dílčího úseku v důlním díle
                        </td>
                        <td>Smax</td>
                        <td>
                          [
                          <math xmlns="http://www.w3.org/1998/Math/MathML">
                            <mrow>
                              <msup>
                                <mi>m</mi>
                                <mn>2</mn>
                              </msup>
                            </mrow>
                          </math>
                          ]
                        </td>
                        <td>
                          <input type="number" step=".01" v-model="maxPrurez" id="maxPrurez"
                                 name="maxPrurez" class="form-control"
                                 :class="{ 'is-invalid': submitted && !maxPrurez }"/>
                          <div v-show="submitted && !maxPrurez" class="invalid-feedback">maxPrurez je
                            pozadovan
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.4</td>
                        <td>Předpokládanou exhalaci CH4 v projektovaném důlním díle</td>
                        <td>q1</td>
                        <td>
                          [
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                              <mrow>
                                <mi>s</mi>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                        <td>
                          <input type="number" step=".01" v-model="exhalationCh4" id="exhalationCh4"
                                 name="exhalationCh4" class="form-control"
                                 :class="{ 'is-invalid': submitted && !exhalationCh4 }"/>
                          <div v-show="submitted && !exhalationCh4" class="invalid-feedback">Exhalace
                            je
                            pozadovan
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.5</td>
                        <td>Předpokládanou exhalaci kysličníku uhličitého (dále jen CO2) v projektovaném
                          důlním díle
                        </td>
                        <td>q2</td>
                        <td>
                          [
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                              <mrow>
                                <mi>s</mi>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                        <td>
                          <input type="number" step=".001" v-model="exhalationC02" id="exhalationC02"
                                 name="exhalationC02" class="form-control"
                                 :class="{ 'is-invalid': submitted && !exhalationC02 }"/>
                          <div v-show="submitted && !exhalationC02" class="invalid-feedback">Exhalace
                            je
                            pozadovan
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.6</td>
                        <td>Předpokládanou exhalaci radonu (dále jen “Rn“) v projektovaném důlním díle
                        </td>
                        <td>DRn</td>
                        <td>
                          [
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <mi>Bq</mi>
                              </mrow>
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                        <td>
                          <input type="number" step=".001" v-model="exhalationRn" id="exhalationRn"
                                 name="exhalationC02" class="form-control"
                                 :class="{ 'is-invalid': submitted && !exhalationRn }"/>
                          <div v-show="submitted && !exhalationRn" class="invalid-feedback">Exhalace
                            je
                            pozadovan
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.7</td>
                        <td>Koncentraci CH4 v průchodním větrním proudu (dále jen “PVP“) před zaústěním
                          lutnového tahu do
                          projektovaného důlního díla
                        </td>
                        <td>c1</td>
                        <td>[%]</td>
                        <td>
                          <input type="number" step=".01" v-model="koncentracech4" id="koncentracech4"
                                 name="koncentracech4" class="form-control"
                                 :class="{ 'is-invalid': submitted && !koncentracech4 }"/>
                          <div v-show="submitted && !koncentracech4" class="invalid-feedback">
                            Koncentrace
                            je pozadovan
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.8</td>
                        <td>Koncentraci CO2 v PVP před zaústěním lutnového tahu do projektovaného
                          důlního
                          díla
                        </td>
                        <td>c3</td>
                        <td>[%]</td>
                        <td>
                          <input type="number" step=".01" v-model="koncentraceco2" id="koncentraceco2"
                                 name="koncentraceco2" class="form-control"
                                 :class="{ 'is-invalid': submitted && !koncentraceco2 }"/>
                          <div v-show="submitted && !koncentraceco2" class="invalid-feedback">
                            koncentrace
                            je pozadovan
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.9</td>
                        <td>Koncentraci Rn v PVP před zaústěním lutnového tahu do projektovaného důlního
                          díla
                        </td>
                        <td>cVt</td>
                        <td>[
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <mi>Bq</mi>
                              </mrow>
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                        <td>
                          <input type="number" step=".01" v-model="koncentracecRn" id="koncentracecRn"
                                 name="koncentracecRn" class="form-control"
                                 :class="{ 'is-invalid': submitted && !koncentracecRn }"/>
                          <div v-show="submitted && !koncentracecRn" class="invalid-feedback">
                            koncentrace
                            je pozadovan
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.10</td>
                        <td>Přípustnou koncentraci CH4 v projektovaném důlním díle</td>
                        <td>c</td>
                        <td>[%]</td>
                        <td>
                          <input type="number" step=".01" v-model="pripustnakoncentracech4"
                                 id="pripustnakoncentracech4" name="pripustnakoncentracech4"
                                 class="form-control"
                                 :class="{ 'is-invalid': submitted && !pripustnakoncentracech4 }"/>
                          <div v-show="submitted && !pripustnakoncentracech4"
                               class="invalid-feedback">
                            Koncentrace je pozadovan
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.11</td>
                        <td>Přípustnou koncentraci CO2 v projektovaném důlním díle</td>
                        <td>c2</td>
                        <td>[%]</td>
                        <td>
                          <input type="number" step=".01" v-model="pripustnakoncentraceco2"
                                 id="pripustnakoncentraceco2" name="pripustnakoncentraceco2"
                                 class="form-control"
                                 :class="{ 'is-invalid': submitted && !pripustnakoncentraceco2 }"/>
                          <div v-show="submitted && !pripustnakoncentraceco2"
                               class="invalid-feedback">
                            koncentrace je pozadovan
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.12</td>
                        <td>Přípustnou koncentraci Rn v projektovaném důlním díle</td>
                        <td>cRn</td>
                        <td>[
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <mi>Bq</mi>
                              </mrow>
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                        <td>
                          <input type="number" step=".01" v-model="pripustnakoncentracecRn"
                                 id="pripustnakoncentracecRn" name="pripustnakoncentracecRn"
                                 class="form-control"
                                 :class="{ 'is-invalid': submitted && !pripustnakoncentracecRn }"/>
                          <div v-show="submitted && !pripustnakoncentracecRn"
                               class="invalid-feedback">
                            koncentrace je pozadovan
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.13</td>
                        <td>Hmotnost trhaviny použité na jednu zabírku</td>
                        <td>A</td>
                        <td>[kg]</td>
                        <td>
                          <input type="number" step=".01" v-model="hmotnostTrhaviny"
                                 id="hmotnostTrhaviny"
                                 name="hmotnostTrhaviny" class="form-control"/>
                        </td>
                      </tr>
                      <tr>
                        <td>1.14</td>
                        <td>Celkový objem jedovatých zplodin ze zvolené trhaviny vyjádřené hodnotou
                          konvenčního CO
                        </td>
                        <td>b</td>
                        <td>[
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                              <mrow>
                                <mi>kg</mi>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                        <td>
                          <input type="number" step=".01" v-model="objemjedovatychsplodintrhaviny"
                                 id="objemjedovatychsplodintrhaviny"/>
                        </td>
                      </tr>
                      <tr>
                        <td>1.15</td>
                        <td>Přípustnou koncentraci konvenčního CO ve zplodinách po trhací práci</td>
                        <td>b</td>
                        <td>[%]</td>
                        <td>
                          <input type="number" step=".01" v-model="pripustnakoncentraceco2Trhaci"
                                 id="pripustnakoncentraceco2Trhaci"/>
                        </td>
                      </tr>
                      <tr>
                        <td>1.16</td>
                        <td>Délku zabírky trhací práce</td>
                        <td>Lz</td>
                        <td>[m]</td>
                        <td>
                          <input type="number" step=".01" v-model="delkazabirkytrhaciprace"
                                 id="delkazabirkytrhaciprace"/>
                        </td>
                      </tr>
                      <tr>
                        <td>1.17</td>
                        <td>Měrnou hmotnost hornin</td>
                        <td>ph</td>
                        <td>[
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <mi>kg</mi>
                              </mrow>
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                        <td>
                          <input type="number" step=".01" v-model="mernahmotnosthornin" id="mernahmotnosthornin"/>
                        </td>
                      </tr>
                      <tr>
                        <td>1.18</td>
                        <td>Čas potřebný ke snížení koncentrace zplodin po trhací práci na přípustnou
                          koncentraci konvenčního CO
                        </td>
                        <td>t</td>
                        <td>[M]</td>
                        <td>
                          <input type="number" step=".01" v-model="casKeSnizeniKoncentrace"
                                 id="casKeSnizeniKoncentrace"/>
                        </td>
                      </tr>
                      <tr>
                        <td>1.19</td>
                        <td>Celkový výkon naftových motorů pracujících současně v projektovaném důlním
                          díle
                        </td>
                        <td>P<sub>N</sub></td>
                        <td>[kW]</td>
                        <td>
                          <input type="number" step=".01" v-model="vykonMotoru" id="vykonMotoru"
                                 name="vykonMotoru" class="form-control"
                                 :class="{ 'is-invalid': submitted && !vykonMotoru }"/>
                          <div v-show="submitted && !vykonMotoru" class="invalid-feedback">Vykon
                            motoru je
                            pozadovan
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.20</td>
                        <td>Největší dovolenou vzdálenost ústí hlavního lutnového tahu foukacího od
                          čelby
                        </td>
                        <td>L1</td>
                        <td>[m]</td>
                        <td>
                          <input type="number" step=".01" v-model="vzdalenostUstiLutnyOdCelby"
                                 id="vzdalenostUstiLutnyOdCelby" name="vzdalenostUstiLutnyOdCelby"
                                 class="form-control"
                                 :class="{ 'is-invalid': submitted && !vzdalenostUstiLutnyOdCelby }"/>
                          <div v-show="submitted && !vzdalenostUstiLutnyOdCelby"
                               class="invalid-feedback">
                            Vzdálenost je pozadovan
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>1.21</td>
                        <td>Největší dovolenou vzdálenost ústí hlavního lutnového tahu sacího od čelby
                        </td>
                        <td>L2</td>
                        <td>[m]</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>1.23</td>
                        <td>Koeficient porušení radioaktivní rovnováhy (0,2 - 0,5)</td>
                        <td>p</td>
                        <td>&nbsp;</td>
                        <td>
                          <input type="number" step=".01" min="0.2" max="0.5"
                                 v-model="koeficientPoruseniRadioaktivniRovnovahy"
                                 id="koeficientPoruseniRadioaktivniRovnovahy"
                                 name="koeficientPoruseniRadioaktivniRovnovahy" class="form-control"
                                 :class="{ 'is-invalid': submitted && !koeficientPoruseniRadioaktivniRovnovahy }"/>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-2">
                    <table>
                      <tr>
                        <td><input type="checkbox" v-model="qv1computing">&nbsp;Qv1:</td>
                        <td>&nbsp;{{ qv1 }}&nbsp;</td>
                        <td>
                          [
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                              <mrow>
                                <mi>s</mi>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" v-model="qv2computing">&nbsp;Qv2:</td>
                        <td>&nbsp;{{ qv2 }}&nbsp;</td>
                        <td>
                          [
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                              <mrow>
                                <mi>s</mi>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" v-model="qv3computing">&nbsp;Qv3:</td>
                        <td>&nbsp;{{ qv3 }}&nbsp;</td>
                        <td>
                          [
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                              <mrow>
                                <mi>s</mi>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" v-model="qv4computing">&nbsp;Qv4:</td>
                        <td>&nbsp;{{ qv4 }}&nbsp;</td>
                        <td>
                          [
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                              <mrow>
                                <mi>s</mi>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" v-model="qv5computing">&nbsp;Qv5:</td>
                        <td>&nbsp;{{ qv5 }}&nbsp;</td>
                        <td>
                          [
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                              <mrow>
                                <mi>s</mi>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" v-model="qv6computing">&nbsp;Qv6:</td>
                        <td>&nbsp;{{ qv6 }}&nbsp;</td>
                        <td>
                          [
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                              <mrow>
                                <mi>s</mi>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3">&nbsp;</td>
                      </tr>
                      <tr style="font-weight: bold;">
                        <td>Qv0:</td>
                        <td>&nbsp;{{ qv0 }}&nbsp;</td>
                        <td>
                          [
                          <math>
                            <mfrac bevelled="true">
                              <mrow>
                                <msup>
                                  <mi>m</mi>
                                  <mn>3</mn>
                                </msup>
                              </mrow>
                              <mrow>
                                <mi>s</mi>
                              </mrow>
                            </mfrac>
                          </math>
                          ]
                        </td>
                      </tr>
                    </table>
                    <button @click="recomputeQv0" class="btn btn-success">Počítej</button>
                  </div>
                </div>
            </slot>
          </div>
          <div class="modal-footer">
            <slot name="footer"></slot>
          </div>
        </div>
      </div>
    </div>
        <!--</section>-->
      <!--</div>-->
    <!--</div>-->
  </transition>
</template>

<style>

</style>
