<template>
  <div class="caption">
    <h2>Lutny</h2>
    <div class="flex-container"  style="height: 280px;" v-if="typeof luteCalculationData.bySelect ==='object' ">
      <div class="row">
        <div class="col-12">
          <b-tabs content-class="mt-3" v-model="selectBy">
            <b-tab title="Výběr z databáze" @click="setActiveLuteComputing('select')">
              <div class="row">
                <label for="lutes" class="col-sm-6 col-form-label">Lutny:</label>
                <select id="lutes" class="col-sm-6  form-control form-control-sm" v-model="bySelectLuteStore">
                  <option >Vyber lutnu</option>
                  <option v-for="lute in lutes.items" :value="lute.name" :key="lute.id">
                    {{ lute.name }}
                  </option>
                </select>
                <label for="luteDimension" class="col-sm-6 col-form-label">Průměr luten:</label>
                <select id="luteDimension" class="col-sm-6  form-control form-control-sm" v-model="bySelectLuteDimensionStore">
                  <option >Průměr lutny</option>
                  <option v-for="variant in luteDimensions" :key="variant.id" :value="variant.value">
                    {{ variant.value }} mm
                  </option>
                </select>
                <label for="luteVariant" class="col-sm-6 col-form-label">Varianty luten:</label>
                <select id="luteVariant" class="input-group col-sm-6  form-control form-control-sm" v-model="bySelectVariantStore">
                  <option>Varianta lutny</option>
                  <option v-for="luteVariant in luteVariants" :key="luteVariant.name">
                    {{ luteVariant.name }}
                  </option>
                </select>
              </div>
            </b-tab>
            <b-tab title="Jednotkový odpor" @click="setActiveLuteComputing('resist')">
              <div class="row">
                <label for="calculationByResist" class="col-sm-6 col-form-label">Odpor:</label>
                <input id="calculationByResist" class="col-sm-6  form-control form-control-sm" type="number"
                       v-model="byResistResist"/>
              </div>
            </b-tab>
            <b-tab title="Faktor tření" @click="setActiveLuteComputing('lambda')">
              <div class="row">
                <label for="byLambdaLambda" class="col-sm-6 col-form-label">λ koeficient tření:</label>
                <input id="byLambdaLambda" class="col-sm-6  form-control form-control-sm" type="number"
                       v-model="byLambdaLambda"/>
                <label for="byLambdaRho" class="col-sm-6 col-form-label">ρ hustota vzduchu:</label>
                <input id="byLambdaRho" class="col-sm-6  form-control form-control-sm" type="number"
                       v-model="byLambdaRho"/>
                <label for="byLambdaRDiameter" class="col-sm-6 col-form-label">D průměr lutny:</label>
                <input id="byLambdaRDiameter" class="col-sm-6  form-control form-control-sm" type="number"
                       v-model="byLambdaDiameter"/>
              </div>
            </b-tab>
          </b-tabs>
          <div class="row">
            <label for="ventilationLength" class="col-sm-6 col-form-label">Celková délka:</label>
            <input id="ventilationLength" class="col-sm-6 form-control form-control-sm" type="number"
                   v-model="lutesLengthStore"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
  a.nav-link {
    padding: 0.25rem .5rem !important;
  }
</style>
<script>
import EventBus from './event-bus.js'

export default {
  name: 'LuteConfigurator',
  components: {
    EventBus
  },
  props: ['lutes'],
  data: function () {
    return {
      data: null,
      luteCalculationData: {
        byResist: {
          active: false,
          resist: 0
        },
        byLambda: {
          active: false,
          rho: 0,
          lambda: 0,
          diameter: 0
        },
        bySelect: {
          active: false
        },
        length: 100,
        computedResist: 0
      },
      luteSelected: null,
      bySelectLuteStore: null,
      bySelectLuteDimensionStore: null,
      bySelectVariantStore: null,
      lutesLengthStore: null,
      luteObjectSelected: null,
      luteDimensions: [],
      luteDimensionSelected: null,
      luteVariants: [],
      luteVariantSelected: null,
      ventilationLuteLength: 0,
      leakageRatio: [
        {
          text: '100%',
          value: 1
        },
        {
          text: '90%',
          value: 1.0001
        },
        {
          text: '80%',
          value: 1.0002
        },
        {
          text: '70%',
          value: 1.0003
        },
        {
          text: '60%',
          value: 1.0004
        },
        {
          text: '50%',
          value: 1.0005
        },
        {
          text: '40%',
          value: 1.0006
        },
        {
          text: '30%',
          value: 1.0007
        },
        {
          text: '20%',
          value: 1.0008
        },
        {
          text: '10%',
          value: 1.0009
        },
        {
          text: '0%',
          value: 1.001
        }
      ],
      leakageRatioSelected: 1
    }
  },
  watch: {
    bySelectLuteStore: 'updateBySelectLute',
    bySelectLuteDimensionStore: 'updateBySelectLuteDimension',
    bySelectVariantStore: 'updateBySelectLuteVariant',
    lutesLengthStore: 'updateBySelectLuteLength',
    luteDimension: 'check',
    luteDimensionSelected: 'loadLuteVariants',
    leakageRatioSelected: 'compute',
    luteVariantSelected: 'compute'
  },
  computed: {
    selectBy: {
      get: function () {
        if (typeof this.luteCalculationData.byResist === 'undefined') {
          return 0
        }
        if (this.luteCalculationData.byResist !== null && this.luteCalculationData.byResist.active) {
          return 1
        } else if (this.luteCalculationData.byLambda !== null && this.luteCalculationData.byLambda.active) {
          return 2
        } else {
          return 0
        }
      },
      set: function (newValue) {
        newValue = parseInt(newValue)
        let method = 'select'
        if (newValue === 1) {
          method = 'resist'
        } else if (newValue === 2) {
          method = 'lambda'
        }
        this.setActiveLuteComputing(method)
      }
    },
    selectBy2 () {
      if (typeof this.luteCalculationData.byResist === 'undefined') {
        return 0
      }
      if (this.luteCalculationData.byResist !== null && this.luteCalculationData.byResist.active) {
        return 1
      } else if (this.luteCalculationData.byLambda !== null && this.luteCalculationData.byLambda.active) {
        return 2
      } else {
        return 0
      }
    },
    byResistResist: {
      get: function () {
        if (typeof this.luteCalculationData.byResist.resist !== 'undefined') {
          return this.luteCalculationData.byResist.resist
        }
        return this.luteCalculationData.getByResist().getValue()
      },
      set: function (value) {
        this.luteCalculationData.getByResist().setValue(value)
      }
    },
    byLambdaRho: {
      get: function () {
        if (typeof this.luteCalculationData.byLambda.rho !== 'undefined') {
          return this.luteCalculationData.byLambda.rho
        }
        return this.luteCalculationData.getByLambda().getRho()
      },
      set: function (value) {
        this.luteCalculationData.getByLambda().setRho(value)
      }
    },
    byLambdaLambda: {
      get: function () {
        if (typeof this.luteCalculationData.byLambda.lambda !== 'undefined') {
          return this.luteCalculationData.byLambda.lambda
        }
        return this.luteCalculationData.getByLambda().getLambda()
      },
      set: function (value) {
        this.luteCalculationData.getByLambda().setLambda(value)
      }
    },
    byLambdaDiameter: {
      get: function () {
        if (typeof this.luteCalculationData.byLambda.diameter !== 'undefined') {
          return this.luteCalculationData.byLambda.diameter
        }
        return this.luteCalculationData.getByLambda().getDiameter()
      },
      set: function (value) {
        this.luteCalculationData.getByLambda().setDiameter(value)
      }
    }
  },
  methods: {
    updateBySelectLuteLength: function () {
      this.luteCalculationData.setLength(this.lutesLengthStore)
      this.compute()
    },
    updateBySelectLute: function () {
      this.luteCalculationData.getBySelect().setName(this.bySelectLuteStore)
      this.luteCalculationData.getBySelect().setActive(true)
      this.loadLuteDimensions()
    },
    updateBySelectLuteDimension: function () {
      this.luteCalculationData.getBySelect().setDimension(this.bySelectLuteDimensionStore)
      this.luteCalculationData.getBySelect().setActive(true)
      this.loadLuteVariants()
    },
    updateBySelectLuteVariant: function () {
      this.luteCalculationData.getBySelect().setVariant(this.bySelectVariantStore)
      this.luteCalculationData.getBySelect().setActive(true)
      this.compute()
    },
    setActiveLuteComputing: function (method) {
      switch (method) {
        case 'select':
          this.luteCalculationData.getBySelect().setActive(true)
          this.luteCalculationData.getByLambda().setActive(false)
          this.luteCalculationData.getByResist().setActive(false)
          break
        case 'resist':
          this.luteCalculationData.getBySelect().setActive(false)
          this.luteCalculationData.getByLambda().setActive(false)
          this.luteCalculationData.getByResist().setActive(true)
          break
        case 'lambda':
          this.luteCalculationData.getBySelect().setActive(false)
          this.luteCalculationData.getByLambda().setActive(true)
          this.luteCalculationData.getByResist().setActive(false)
          break
        default:
          this.luteCalculationData.getBySelect().setActive(false)
          this.luteCalculationData.getByLambda().setActive(false)
          this.luteCalculationData.getByResist().setActive(false)
      }
    },
    loadLuteDimensions: function () {
      this.luteDimensions = []
      this.luteVariants = []
      if (typeof this.lutes.items !== 'undefined') {
        for (let i = 0; i < this.lutes.items.length; i++) {
          if (this.lutes.items[i].name === this.luteCalculationData.getBySelect().getName()) {
            this.luteObjectSelected = this.lutes.items[i]
            let odpory = []
            let sizesLutnas = []
            let ii = 0
            for (let key in this.lutes.items[i].odpory) {
              odpory.splice(ii, 0, {velikost: key, stari: this.lutes.items[i].odpory[key]})
              if (sizesLutnas[parseInt(key)] !== 'undefined') {
                sizesLutnas.push({id: key, value: key})
              }
              ii++
            }
            this.luteDimensions = sizesLutnas
            break
          }
        }
      }
    },
    calculateThroughResist () {
      if (this.luteCalculationData.getByResist() !== null) {
        let a = this.luteCalculationData.getLength()
        let b = this.luteCalculationData.getByResist().getValue()
        return a * b
      }
      return 0
    },
    calculationThroughLambda () {
      let a = (8 * this.luteCalculationData.getLength() * this.luteCalculationData.getByLambda().getLambda() * this.luteCalculationData.getByLambda().getRho())
      let b = (Math.pow(Math.PI, 2) * Math.pow(this.luteCalculationData.getByLambda().getDiameter(), 5))
      let result = a / b
      if (isNaN(result)) {
        return 0
      }
      return result
    },
    calculationThroughSelect () {
      let resists = 0
      let self = this
      this.luteVariants.forEach(function (item, index) {
        if (item.name === self.bySelectVariantStore) {
          resists = item.value
        }
      })
      return resists * this.luteCalculationData.getLength()
    },
    loadLuteVariants: function () {
      if (this.luteObjectSelected !== null) {
        this.luteVariants = this.luteObjectSelected.odpory[this.bySelectLuteDimensionStore]
      }
    },
    setForms: function () {

    },
    compute: function () {
      if (this.luteCalculationData.getByResist().getActive() === true) {
        this.luteCalculationData.setComputedResist(this.calculateThroughResist())
      }
      if (this.luteCalculationData.getByLambda().getActive() === true) {
        let data = this.calculationThroughLambda()
        this.luteCalculationData.setComputedResist(data.toFixed(2))
      }
      if (this.luteCalculationData.getBySelect().getActive() === true) {
        this.bySelectLuteStore = this.luteCalculationData.getBySelect().getName()
        this.bySelectLuteDimensionStore = this.luteCalculationData.getBySelect().getDimension()
        this.bySelectVariantStore = this.luteCalculationData.getBySelect().getVariant()
        this.luteCalculationData.setComputedResist(this.calculationThroughSelect())
      }
      this.lutesLengthStore = this.luteCalculationData.getLength()
      EventBus.$emit('RUNLUTEDATA', this.luteCalculationData)
    },
    setConfigurator: function (data) {
      if (data !== null) {
        this.luteCalculationData = data
      } else {
        this.reset()
      }
    },
    /**
     * Reset input to defaults
     */
    reset: function () {
      this.luteSelected = null
      this.luteObjectSelected = null
      this.leakageRatioSelected = null
      this.luteSelected = null
      this.luteDimensions = []
      this.luteVariantSelected = null
      this.ventilationLuteLength = 0
    }
  }
}
</script>
